<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script>
        (()=>{
            window.history.forward();
        })();
    </script>
</head>
<body>
    <center>
        <h1>
            Example of Express with MySql | Admin Panel
        </h1>
    </center>
    <hr>
        <a href="/adminLogin">Login</a>
    <hr>
    <h1>Admin Login Form</h1>
    <form action="/admin/adminLogin" method="post">
        <input type="email" required placeholder="Enter email" name="email" id="email"> <br>
        
        <input type="password" required placeholder="Enter password" name="password" id="password"> <br>
        
        <input type="submit" value="Login"> <br>
        <input type="reset" value="reset"> <br>
        <br>
    </form>
</body>
</html>