<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        (()=>{
            window.history.forward();
        })();
    </script>
</head>
<body>
    <center>
        <h1>
            Example of Express with MySql | Admin Panel
        </h1>
    </center>
    <hr>
        Welcome <%=adminEmail%> |
        <a href="/admin/">Home</a>   |
        <a href="/admin/viewUsers">View Users</a>
    <hr>
    <h1>Welcome to admin Panel</h1>
</body>
</html>