<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            Example of Express with MySql
        </h1>
    </center>
    <hr>
        <a href="/">Home</a> |
        <a href="/login">Login</a>
    <hr>
    <h1>Welcome to Express MySql Example</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur consectetur officia aspernatur totam ad, hic eveniet quasi sint voluptas deserunt architecto cumque, beatae iure necessitatibus delectus nulla numquam laudantium culpa, optio quam eaque. Incidunt amet tempora fugiat laboriosam dolorum consequatur perspiciatis adipisci voluptate cum porro explicabo, ipsam, nesciunt possimus, maiores maxime nisi velit temporibus debitis! Dolore, est nesciunt voluptatum inventore similique earum, veritatis soluta voluptate saepe adipisci obcaecati dolor maiores iure aperiam, ipsum quos dolorum cumque facilis voluptatem consequatur nostrum harum molestiae. Excepturi eum exercitationem aspernatur quam minus? Molestiae earum voluptatem facere a, sequi quos ut dignissimos? Itaque, porro.</p>
</body>
</html>