<!DOCTYPE html>
<html lang="en">
    <script>
        (function(){
            window.history.forward();
        })();
    </script>
    <%- include('./userHeader.ejs') %>

    <h1>Welcome to User Panel</h1>
    <h2 style="color:green"><%=message%></h2>
</body>
</html>