<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <center><h2>Example of Session | Method - GET</h2></center>
    <hr>
    <center>
        <a href="/">Home</a>    |
        <a href="/login">Login</a>
    </center>
    <hr>
    <center>
        <h2>Login Form</h2>
        <span style="color:crimson"><%=message%></span>
        <form action="/checkCredential" method="post">
            <input type="email" placeholder="Enter Email" id="email" name="email"> <br>
            <input type="password" placeholder="Enter Password" id="password" name="password"> <br>
            <input type="submit" value="Login"> <br>
            <input type="reset" value="Reset">
        </form>
    </center>
</body>
</html>