<!DOCTYPE html>
<html lang="en">
    <%- include('./header.ejs') %>
    <h2>Home Page</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores quos, beatae minima consequuntur maiores quod? Similique commodi voluptates quisquam quaerat minus, numquam voluptatum, nihil repudiandae omnis harum impedit tempore dignissimos quis iure, inventore temporibus unde quibusdam consectetur. Sit, sint laboriosam ipsa atque error assumenda, accusamus vel temporibus, autem porro incidunt!
    </p>
</body>
</html>