<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Example of Express Validator</h2></center>
    <hr>
        <a href="/">Home</a>    |   
        <a href="/register">Register</a>
    <hr>
    <h2>Home Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, ex omnis. Modi autem sed error obcaecati molestias accusantium aperiam suscipit asperiores voluptate veritatis inventore, adipisci eaque vitae aspernatur consequatur eum?</p>
</body>
</html>