    <center>
        <h2>Example showing the concept of Mail Sending</h2>
    </center>
    <hr>
    <center>
        <a href="/">Home</a>    |   
        <a href="/index/login">Login</a>    |
        <a href="/index/register">Register</a>
    </center>
    <hr>