<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./header.ejs')%>
    <h2>Home Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, veniam accusantium! Fuga tenetur, unde mollitia laboriosam sequi alias possimus vel maxime doloribus vitae ullam quos provident similique dolorum. Velit natus amet vitae facere sunt repudiandae nobis atque beatae nesciunt fugit, nam, in cum tempore necessitatibus neque provident, odit nihil? Sit ullam doloremque, cupiditate itaque aut quidem vero totam eos quis excepturi magnam aliquid omnis, debitis labore magni alias aspernatur tempore culpa molestias ut obcaecati facilis, porro voluptatum voluptates. Quam quibusdam, architecto iste sed culpa incidunt minus ex corporis laboriosam natus dolore quia quas. Pariatur omnis odit, corrupti laboriosam ipsa quod.</p>
</body>
</html>