<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Example of Session | Method - GET</h2></center>
    <hr>
    <% if(!email){ %>
    <center>
        <a href="/">Home</a>    |
        <a href="/login">Login</a>
    </center>
    <hr>
    <h2>Home Page</h2>
    <%}else{%>
        <center>
            Welcome <%=email%>  |   
            <a href="/logout">Logout</a>
        </center>
        <hr>
        <h2>Profile Page</h2>
    <%}%>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, similique earum quam, temporibus nam praesentium quo laborum cumque commodi incidunt provident magnam, at laboriosam accusamus voluptates voluptatibus voluptatum? A expedita laudantium voluptas quod rem, commodi necessitatibus voluptatum repudiandae sapiente earum ducimus sint! Rerum tempore recusandae voluptatum porro dolorum pariatur minus.</p>    
</body>
</html>