<div class="nav-bar">
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a href="#" class="navbar-brand">MENU</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="/alumni/alumniJobForm" class="nav-item nav-link">Jobs</a>
                <!-- <a href="/alumni/alumniAddForumTopic" class="nav-item nav-link">Forum</a> -->
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Forum</a>
                    <div class="dropdown-menu">
                        <a href="/alumni/alumniAddForumTopic" class="dropdown-item">Add Forum</a>
                        <a href="/alumni/alumniForumList" class="dropdown-item">View My Forums</a>
                        <a href="/alumni/alumniAllForumList" class="dropdown-item">View All Forums</a>
                    </div>
                </div>
                <a href="/alumni/alumniViewEvents" class="nav-item nav-link">View Events</a>
                <a href="/alumni/alumniViewGallery" class="nav-item nav-link">Gallery</a>

                <a href="/alumni/alumniLogout" class="nav-item nav-link">Logout</a>
                <!-- <a href="/admin/adminAddEvent" class="nav-item nav-link">Events</a> -->
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Events</a>
                    <div class="dropdown-menu">
                        <a href="/admin/adminAddEvent" class="dropdown-item">Add Event</a>
                        <a href="/admin/adminViewEvents" class="dropdown-item">View Event</a>
                    </div>
                </div> -->
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">option</a>
                    <div class="dropdown-menu">
                        <a href="blog.html" class="dropdown-item"></a>
                        <a href="single.html" class="dropdown-item"></a>
                    </div>
                </div> -->
            </div>
            <div class="ml-auto">
                <a class="btn" href="#">Contact</a>
            </div>
        </div>
    </nav>
</div>
</div>