    <center>
        <h2>Example showing the concept of Image or File Upload</h2>
    </center>
    <hr>
    <center>
        <a href="/">Home</a>    |   
        <a href="/index/addEmployee">Add Employee</a>    |
        <a href="/index/viewEmployee">View Employee</a>
    </center>
    <hr>